<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <appSettings>
      <add key="hourDiff" value="0"/>
	  <add key="minDiff" value="-30"/>
      <add key="diff" value="0"/>
      <add key="product" value="54, 55"/>
      <add key="status" value="4, 5, 11"/>
      <add key="ext" value="gpg"/>
      <add key="ErrorLogPath" value="C:\\AppLogs\\Securecode\\"/>
      <add key="GenPath" value="C:\\AppLogs\\Securecode\\Generated"/>
      <add key="UploadPath" value="C:\\AppLogs\\Securecode\\Uploads"/>
      <add key="cmdPath" value="C:\\Windows\\System32\\"/>
      <add key="gpgPath" value="C:\\Program Files\\WinGPG\\x86"/>
      <add key="CardApp" value="Data Source=###.###.##.##,1490;Initial Catalog=EchanelsT24;Persist Security Info=false;User ID=####;Password=(####)"/>
      <!--<add key="FEPConn" value ="data source=###.###.##.##;Database=realtime;User ID=####;Password=#####;Trusted_Connection=False;"/>-->
      <add key="FEPConn" value="Data Source=###.###.##.##;Initial Catalog=postcard;Persist Security Info=false;User ID=####;Password=(####)"/>
      <!--<add key="Product_Name" value="GOMONEY_MASTER_CONTACTLESS|GOMONEY_MAIN|GOMONEY_VIRTUAL|SBP_VISA_CONTACTLESS|SBP_MASTER_FAREPAY|GOMONEY_MASTER_CONT"/>-->
      <add key="Product_Name" value="SBP_MASTER_ONEBANK"/>
	    <add key="GoMoney_Base_Url" value="http://###.###.##.##/GoMoneyProxy/"/>
      <add key="Endpoint" value="api/GetGoMoneyAcctDetails?input="/>
      <add key="fioranoBaseUrl" value="http://###.###.##.##:1880/restgateway/services/EacbsEnquiry"/>
      <add key="acctDetUrl" value="GetAccountFullInfo"/>
      <add key="ftUrl" value="FundTransferNarrExt"/>
      <add key="ftRev" value="FundsTransferReversal"/>
      
      <!--<add key="keyId" value="7#####F"/>
      <add key="sftpHost" value="###.###.##.##"/>-->
      <add key="keyId" value="3#######EE"/>
      <add key="sftpHost" value="###.###.##.##"/>
      <add key="sftpPort" value="22"/>
      <add key="sftpUser"  value="#####ing"/>
      <add key="sftpPwd" value="g4#####7"/>
      <add key="sftpPth" value="/VCAS Securecode/"/>
      <add key="fMail" value="Se#####.ng"/>
      <add key="mailHost"  value="###.###.##.##" />
      <add key="recMail"  value="c#####ng" />
      <add key="cMail"  value="C#####ng" />
    </appSettings>
  
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="banksSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.0.0.92:814/banks.asmx" binding="basicHttpBinding"
                bindingConfiguration="banksSoap" contract="t24Webservice.banksSoap"
                name="banksSoap" />
        </client>
    </system.serviceModel>
</configuration>
